---
import { GraphQLEditor as ReactGraphQLEditor } from "./GraphQLEditor";

interface Props {
  network?: "mainnet" | "testnet" | "devnet";
  query?: string;
  variables?: string;
}

const { network, query, variables } = Astro.props;
---

<div transition:persist>
  <ReactGraphQLEditor network={network} query={query} variables={variables} />
</div>
