.graphiql-wrapper {
  margin: 1rem 0;
  border: 1px solid var(--sl-color-hairline);
  border-radius: var(--global-radius);
  background: var(--sl-color-bg);

  .graphiql-container {
    background: transparent;

    .graphiql-sessions,
    .graphiql-editors,
    button.graphiql-execute-button,
    .graphiql-tab {
      border-radius: var(--global-radius);
    }

    .graphiql-sidebar {
      padding: 0;
      width: auto;

      .graphiql-sidebar-section {
        button[data-value="settings"] {
          display: none !important;
        }
      }
    }

    .graphiql-sessions {
      margin: 0;
    }

    .graphiql-session {
      padding: 0;
    }

    .graphiql-editors.full-height {
      margin-top: 0;
    }
  }

  .graphiql-session-header {
    display: none !important;
  }

  /* Default height when NOT in fullscreen */
  .graphiql-main {
    min-height: 500px;
  }

  .graphiql-sidebar,
  .graphiql-header {
    background: color-mix(in srgb, var(--sl-color-white) 1%, transparent);
  }

  /* When Fullscreen Mode is Active */
  :fullscreen {
    .graphiql-main {
      height: 100vh;
      width: 100vw;
    }

    .graphiql-header {
      padding-top: 2rem;
    }
  }

  .graphiql-response {
    padding: var(--px-16);
  }

  .graphiql-select {
    background-color: transparent;
    text-overflow: ellipsis;
    color: inherit;
    cursor: pointer;
    appearance: none;
  }

  /* iOS specific styles */
  @supports (-webkit-touch-callout: none) {
    .graphiql-fullscreen-button {
      display: none;
    }
  }

  /* Responsive styles */
  @media (width < 80rem) {
    .graphiql-main {
      min-height: 720px;
    }

    .graphql-editor {
      position: relative;
    }

    .graphiql-header {
      position: absolute;
      right: 0;
      background: transparent;
    }

    .graphiql-container {
      flex-direction: column;

      .graphiql-sidebar {
        flex-direction: row;
        justify-content: start;
        gap: var(--px-8);

        .graphiql-sidebar-section {
          flex-direction: row;

          button {
            margin: 0;
          }
        }
      }

      .graphiql-session {
        flex-direction: column;
      }
    }

    .graphiql-horizontal-drag-bar {
      display: none;
    }

    .graphiql-editor-tool {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .graphiql-editors > div:first-child {
      height: 50%;
    }

    .graphiql-toolbar button[aria-label="Merge fragments into query (Shift-Ctrl-M)"] {
      display: none !important;
    }
  }
}
