.graphiql-container {
  background: transparent;
}

.graphiql-container .graphiql-sessions,
.graphiql-container .graphiql-editors,
button.graphiql-execute-button,
.graphiql-tab {
  border-radius: var(--global-radius);
}

.graphiql-container .graphiql-sidebar {
  padding: 0;
}

.graphiql-container .graphiql-sessions {
  margin: 0;
}

.graphiql-session-header {
  display: none !important;
}

.graphiql-container .graphiql-session {
  padding: 0;
}

.graphiql-container .graphiql-sidebar {
  width: auto;
}

.graphiql-wrapper {
  margin: 1rem 0;
}
/* Default height when NOT in fullscreen */
.graphiql-main {
  height: 600px; /* Default fixed height */
}

/* When Fullscreen Mode is Active */
:fullscreen .graphiql-main {
  height: 100vh;
  width: 100vw;
}

:fullscreen .graphiql-header {
  padding-top: 2rem;
}

.graphiql-container .graphiql-editors.full-height {
  margin-top: 0;
}
