.graphiql-container {
  background: transparent;
}

.graphiql-container .graphiql-sessions,
.graphiql-container .graphiql-editors,
button.graphiql-execute-button,
.graphiql-tab {
  border-radius: var(--global-radius);
}

.graphiql-container .graphiql-sidebar {
  padding: 0;
}

.graphiql-container .graphiql-sessions {
  margin: 0;
}

.graphiql-session-header {
  display: none !important;
}

.graphiql-container .graphiql-session {
  padding: 0;
}

.graphiql-container .graphiql-sidebar {
  width: auto;
}

.graphiql-wrapper {
  margin: 1rem 0;
}
/* Default height when NOT in fullscreen */
.graphiql-main {
  min-height: 500px;
}

.graphiql-sidebar,
.graphiql-header {
  background: rgba(255, 255, 255, 0.01);
}
/* When Fullscreen Mode is Active */
:fullscreen .graphiql-main {
  height: 100vh;
  width: 100vw;
}

:fullscreen .graphiql-header {
  padding-top: 2rem;
}

.graphiql-container .graphiql-editors.full-height {
  margin-top: 0;
}

@media (width < 80rem) {
  .graphiql-main {
    min-height: 720px;
  }

  .graphql-editor {
    position: relative;
  }
  .graphiql-header {
    position: absolute;
    right: 0;
  }
  .graphiql-container {
    flex-direction: column;
  }
  .graphiql-container .graphiql-sidebar {
    flex-direction: row;
    justify-content: start;
    gap: var(--px-8);
  }
  .graphiql-container .graphiql-sidebar .graphiql-sidebar-section {
    flex-direction: row;
    button {
      margin: 0;
    }
  }

  .graphiql-container .graphiql-session {
    flex-direction: column;
  }

  .graphiql-horizontal-drag-bar {
    display: none;
  }
  .graphiql-editor-tool {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .graphiql-editors > div:first-child {
    height: 50%;
  }

  .graphiql-toolbar button[aria-label="Merge fragments into query (Shift-Ctrl-M)"] {
    display: none !important;
  }

  .graphiql-response .CodeMirror-code:empty::before {
    content: "Query will render here...";
    color: #aaa;
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 20px;
  }
}

.graphiql-response {
  padding: var(--px-16);
}

@supports not selector(:fullscreen) {
  .graphiql-fullscreen-button {
    display: none;
  }
}
