---
import { snippetz } from "@scalar/snippetz";
import OperationExample, { type ExampleData } from "./OperationExample.astro";
import { OperationExamplesController } from "./OperationExamplesController";
import { INITIAL_TARGET, INITIAL_CLIENT } from "./constants";

type Props = ExampleData;

const example: Props = Astro.props;
const targets = snippetz().clients();
---

<div class="operation-examples not-content">
  <OperationExamplesController client:load>
    <Fragment slot="examples">
      {
        targets.flatMap((target) =>
          target.clients.map((client) => (
            <OperationExample
              example={example}
              target={target.key}
              client={client.client}
              isActive={target.key === INITIAL_TARGET && client.client === INITIAL_CLIENT}
            />
          )),
        )
      }
    </Fragment>
  </OperationExamplesController>
</div>
