---
import Default from "@astrojs/starlight/components/PageFrame.astro";
import Analytics from "@components/Analytics.astro";
import SpanishBetaBanner from "@components/SpanishBetaBanner.astro";
---

<Default {...Astro.props}>
  <div transition:persist="header" slot="header">
    <slot name="header" />
  </div>
  <slot name="sidebar" slot="sidebar" />
  <SpanishBetaBanner />
  <slot />
</Default>

<Analytics />
