---
import { Aside, CardGrid, LinkCard } from "@astrojs/starlight/components";
---

<Aside type="caution" title="GitHub Token Required">
  To build and view the Move Reference documentation locally, you need to configure a GitHub token
  in your development environment. Add <code>GITHUB_TOKEN</code> to your <code>.env</code> file with
  a valid GitHub personal access token.
</Aside>

<Aside type="note" title="Deployments are Safu">
  While a GitHub token is required for previewing locally, you will not see this page within
  deployment previews and production builds as environment variables are configured on the server.
</Aside>

<h2>Github Access Tokens</h2>

<CardGrid>
  <LinkCard
    target="_blank"
    rel="noopener"
    title="Create a GitHub token"
    description="Generate a personal access token with <code>public_repo</code> permissions enabled to build <code class='url-slug'>/move-reference</code> locally"
    href="https://github.com/settings/tokens"
  />
  <LinkCard
    target="_blank"
    rel="noopener"
    title="Managing your tokens"
    description="Learn about how to create and manage GitHub tokens securely"
    href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens"
  />
</CardGrid>

<h2>Published Move References</h2>

<CardGrid>
  <LinkCard
    target="_blank"
    rel="noopener"
    title="Move Reference on Aptos.dev"
    description="View this page in live the production environment"
    href="https://aptos-docs-astro.vercel.app/move-reference"
  />
  <LinkCard
    target="_blank"
    rel="noopener"
    title="View the Source"
    description="Browse the Move framework source code directly on GitHub"
    href="https://github.com/aptos-labs/aptos-core/tree/main/aptos-move/framework"
  />
</CardGrid>

<style>
  :global(.url-slug) {
    text-wrap: nowrap;
  }
</style>
