@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "@astrojs/starlight-tailwind";

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/
:root {
  --sl-text-5xl: 3.5rem;
  --sl-color-bg-sidebar: transparent;
  --global-radius: 2px;

  --sl-color-bg-nav: var(--sl-color-bg);
  --color-link-breadcrumbs: var(--sl-color-text-accent);
  --sl-color-black: hsl(220, 13%, 8%);

  --docsearch-searchbox-shadow: inset 0 0 0 0.5px var(--docsearch-primary-color);
}

:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  --sl-color-bg-nav: var(--sl-color-bg);
}

@media (min-width: 1536px) {
  :root {
    --sl-content-width: 56rem;
  }
}

html {
  scroll-behavior: smooth;
}

.sidebar-pane {
  border-right: 1px solid var(--sl-color-hairline);
}

.sidebar-content ul ul li {
  border-inline-start: 1px solid var(--sl-color-hairline);
}

.sidebar-content ul li a,
.sidebar-content ul li summary {
  padding: 0.5em calc(var(--sl-sidebar-item-padding-inline) + 0.25em);
}

.sidebar-content ul li a[aria-current="page"] {
  background-color: var(--sl-color-text-invert);
  color: var(--sl-color-text-accent);
}

.sidebar-content ul li a:not([aria-current="page"]):hover {
  background-color: color-mix(in srgb, var(--sl-color-text-invert) 35%, transparent);
}

.sidebar-content .large {
  font-size: var(--sl-text-sm);
  font-weight: 500;
  color: var(--sl-color-gray-2);
}

.sidebar-content .large:hover {
  color: var(--sl-color-gray-1);
}

header {
  border-bottom: 1px solid var(--sl-color-hairline) !important;
}

.sidebar-content .sl-badge {
  align-items: center;
  display: flex;
  font-size: xx-small !important;
  align-self: flex-start;
  text-wrap: nowrap;
}

.sidebar-content details ul li a {
  display: flex;
  justify-content: space-between;
  border-radius: var(--global-radius);
}

.pagination-links > a {
  border-radius: var(--global-radius);
}

header site-search button {
  border-radius: var(--global-radius) !important;
}

@media (min-width: 50rem) {
  .DocSearch-Button {
    border-radius: var(--global-radius);
  }
}

.DocSearch-Modal,
.DocSearch-Form,
.DocSearch-Hit a,
.DocSearch-Commands-Key {
  border-radius: var(--global-radius);
}

.DocSearch-Footer {
  border-radius: 0 0 var(--global-radius) var(--global-radius);
}

.sl-link-card {
  border-radius: var(--global-radius) !important;
}

.group-label {
  text-transform: capitalize;
}

.sl-link-button.primary {
  border-radius: var(--global-radius);
  background: white;
  border: none;
}

.sl-markdown-content a:not(:where(.not-content *)) {
  font-weight: 600;
  text-underline-offset: 3px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  color: var(--sl-color-gray-1);
  text-decoration-color: var(--sl-color-text-accent);
  &:hover {
    text-decoration-thickness: 2px;
  }
}

.sl-markdown-content h2:not(:where(.not-content *)) {
  font-size: var(--sl-text-h2);
  border-bottom: 1px solid var(--sl-color-hairline);
  padding-bottom: 0.5em;
}

.sl-link-card a {
  text-decoration: none;
}

.content-panel {
  padding: 3.5rem var(--sl-content-pad-x);
}

.sl-steps li .expressive-code {
  margin-bottom: 1.25rem;
}

.tab {
  text-wrap: nowrap;
}

.sl-markdown-content :not(ul, ol) + :is(ul, ol):not(:where(.not-content *, .sl-steps)) {
  display: grid; /* helps with list markers alignment */
  margin-block: 0.75rem;
  margin-inline: 0;
  padding-inline-start: 1.5rem;
}

.sl-markdown-content :not(ul) + :is(ul):not(:where(.not-content *, .sl-steps)) {
  list-style-type: disc;
}

.sl-markdown-content :not(ol) + :is(ol):not(:where(.not-content *, .sl-steps)) {
  list-style-type: decimal;
}

.expressive-code .frame {
  --header-border-radius: var(--global-radius) !important;
  .header {
    border-top-left-radius: var(--header-border-radius);
    border-top-right-radius: var(--header-border-radius);
  }
  pre {
    border-bottom-left-radius: var(--global-radius) !important;
    border-bottom-right-radius: var(--global-radius) !important;
  }
  .copy button {
    border-radius: var(--global-radius);
  }
}

code {
  border-radius: var(--global-radius);
}

.starlight-aside {
  border-radius: var(--global-radius);
}

.card .title code {
  font-size: inherit;
}
