@import "tailwindcss";
@plugin "@astrojs/starlight-tailwind";

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/
:root {
  --sl-content-width: 65rem;
  --sl-text-5xl: 3.5rem;
  --sl-color-bg-sidebar: transparent;

  --sl-color-bg-nav: var(--sl-color-bg);
}

.sidebar-pane {
  border-right: 1px solid var(--sl-color-hairline);
}

.sidebar-content ul li {
  border-inline-start: 1;
}

.sidebar-content ul li a {
  padding: 0.5em calc(var(--sl-sidebar-item-padding-inline) + 0.25em);
}

.sidebar-content ul li a[aria-current="page"] { 
  background-color: var(--sl-color-text-invert);
  color: var(--sl-color-text-accent);
}

.sidebar-content .large {
  font-size: var(--sl-text-base);
  font-weight:500;
  color: var(--sl-color-gray-1);
}

header {
  border-bottom: 1px solid var(--sl-color-hairline) !important;
}

.sidebar-content .sl-badge {
  align-items: center;
  display: flex;
  font-size: xx-small !important;
  align-self: flex-start;
  text-wrap: nowrap;
}

.sidebar-content details ul li a {
  display: flex;
  justify-content: space-between;
  border-radius: 0;
}

.pagination-links > a {
  border-radius: 0;
}

header site-search button {
  border-radius: 0 !important;
}

/* Temporarily hide the first h1 in the markdown content as these are defined in frontmatter */
.sl-markdown-content h1:first-of-type {
  display:none;
}

.sl-link-card {
  border-radius: 0;
}

.group-label {
  text-transform:capitalize;
}


.sl-link-button.primary {
  border-radius: 0;
  background:white;
  border:none;
}